.frontpage {
    text-align: center;
    line-height: 160%;

    img {
        width: 300px;
        max-width: 100%;
    }

    #schicksal {

        .inner {
            max-width: 90%;
            margin: auto;
            width: 500px;
            color: #000;
            background-color: #d1c0c0;
            padding: 10px;

            h2 {
                color: #870002;
                padding-bottom: 10px;
            }
        }
    }

    button {
        color: #FFF2F2;
        background-color: #870002;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0;
        font-family: 'Major Mono Display', monospace;
        font-weight: bold;
        border: none;
        line-height: 160%;
        transiton: all .5s;

        &:hover {
            font-size: .9rem;
        }
    }
}