.frontpage {
    text-align: center;

    img {
        width: 300px;
        max-width: 100%;
    }

    .button {
        color: #FFF2F2;
        background-color: #870002;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0;
    }
}