@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Major+Mono+Display");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Major Mono Display', monospace; }

:root {
  font-size: 16px; }

body {
  background-color: #000;
  color: #FFF2F2; }

a {
  text-decoration: none; }

header {
  text-align: center;
  padding: 20px 10px;
  font-weight: normal;
  font-size: 1.5rem; }
  header h1 {
    font-family: 'Dancing Script', cursive;
    color: #C40003; }

.frontpage {
  text-align: center;
  line-height: 160%; }
  .frontpage img {
    width: 300px;
    max-width: 100%; }
  .frontpage #schicksal .inner {
    max-width: 90%;
    margin: auto;
    width: 500px;
    color: #000;
    background-color: #d1c0c0;
    padding: 10px; }
    .frontpage #schicksal .inner h2 {
      color: #870002;
      padding-bottom: 10px; }
  .frontpage button {
    color: #FFF2F2;
    background-color: #870002;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    border: none;
    line-height: 160%;
    transiton: all .5s; }
    .frontpage button:hover {
      font-size: .9rem; }
